@charset "utf-8";
* {
    box-sizing: border-box;
}

body {
    font-family: "microsoft yahei";
    margin: 0;
}

button, input, select, textarea {
    font-family: "microsoft yahei";
}

a:hover {
    color: #ff0000;
}